.app {
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.app-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 2rem;
	position: sticky;
	top: 10px;
	z-index: 10;
}

.app-logo {
	width: 3rem;
	height: 3rem;
	background-image: url("/public/shared/logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.header-line {
	position: absolute;
	border-style: inset;
	border-width: 1px;
	border-color: #979797;
	width: 20vw;
	left: 16vw;
	z-index: 1;
}

.app-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 6rem;
	width: fit-content;
	min-width: 60%;
	padding: 0 4rem;
	backdrop-filter: blur(40px);
	background-color: rgba(255, 255, 255, 0.05);
	gap: 3rem;
}

.app-menu-item {
	display: flex;
	height: 100%;
	align-items: center;
	gap: 0.4rem;
	box-sizing: border-box;
	font-family: "Barlow Condensed";
	letter-spacing: 2px;
	font-size: 1rem;
}

.app-menu-item span:first-child {
	font-weight: bold;
}

.app-body {
	flex-grow: 1;
	display: flex;
}

@media only screen and (max-width: 940px) {
	.app {
		overflow: hidden;
	}

	.app-header {
		padding: 0;
		top: 0;
	}
	.app-logo {
		padding: 0 2rem;
		width: 2rem;
		height: 2rem;
	}

	.app-menu-item :first-child {
		display: none;
	}
	.app-menu {
		flex: 1;
	}
}

@media only screen and (max-width: 640px) {
	.app-header {
		position: sticky;
		top: 0;
		padding-top: 20px;
		padding-right: 20px;
	}
	.app-logo-wrapper {
		width: 80px;
		height: 100%;
		display: flex;
		align-self: flex-start;
		justify-content: center;
	}
	.app-logo {
		position: absolute;
		z-index: 10;
	}
	.app-menu {
		position: absolute;
		inset: 0;
		flex-direction: column;
		justify-content: center;
		height: 0px;
		min-width: 100vw;
		padding: 0;
		gap: 2.2rem;
		background-color: rgba(0, 0, 0, 0.4);
		transition: height 0.6s;
		overflow: hidden;
	}
	.app-menu:is(.expanded) {
		height: 100vh;
	}

	.app-menu-item {
		height: fit-content;
		border-bottom: unset !important;
		margin: 0 !important;
		font-size: x-large;
	}

	.menu-icon {
		position: absolute;
		cursor: pointer;
		top: 24px;
		right: 40px;
		z-index: 2;
	}
}
