body {
	margin: 0;
	font-family: "Bellefair";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-secondary {
	color: #d0d6f9;
}

.tab-item {
	cursor: pointer;
}
.tab-item:not(.active):hover {
	border-bottom: 4px solid rgba(255, 255, 255, 0.5);
	margin-bottom: -4px;
}
.tab-item:is(.active) {
	border-bottom: 4px solid white;
	margin-bottom: -4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
